[Unit]
Description=Webchain
After=network.target
[Service]
Type=forking
GuessMainPID=no
ExecStart= webchain -c ~/root/webMiner/config.json -l ~/root/webMiner/avcminer.log -B
Restart=always
User=root
[Install]
WantedBy=multi-user.target
