[Unit]
Description=Webchain
After=network.target
[Service]
Type=forking
GuessMainPID=no
ExecStart= webchain -c config.json -l avcminer.log -B
Restart=always
User=root
[Install]
WantedBy=multi-user.target
